.body{

}

.Grad-effct{
  background: rgb(0,3,8);
  background: linear-gradient(90deg, rgba(0,3,8,1) 0%, rgb(1, 12, 16) 41%, rgba(2,30,27,1) 68%, rgba(0,0,1,1) 100%);
  background-size: 400% 400%;
  animation: gradient-animation 30s ease infinite;
}

.breath-effct{
  animation: breathe 4s ease-in-out infinite alternate;
}




@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}

.cursor-trail {
  pointer-events: none;
  position: fixed;
  height: 2px;
  background: rgb(206, 109, 4);
  opacity: 0;
  z-index: 10000;
  transition: opacity 0.5s;
  transform-origin: left center;
}